<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TinkerForgeProjects.CiSignalizer.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="TinkerForgeProjects.CiSignalizer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TinkerForgeProjects.CiSignalizer.MySettings>
            <setting name="JenkinsURL" serializeAs="String">
                <value>http://ci1:8181/view/Demo4Dev/api/xml?tree=jobs[name,lastBuild[building,result]]</value>
            </setting>
            <setting name="TinkerForgeIp" serializeAs="String">
                <value>192.168.138.1</value>
            </setting>
        </TinkerForgeProjects.CiSignalizer.MySettings>
    </userSettings>
</configuration>
